/*  your css code here. If applicable */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #9b59b6;
  color: white;
}

h1 {
  margin-top: 20px;
}

.sound-container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  background-color: #4b2c6f;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #613a8a;
}
