/*  your css code here. If applicable */
body {
    background: #222;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 15px 25px;
    background: #4a90e2;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #357ABD;
}

.sto {
    margin-top: 40px;
    padding: 15px 35px;
    background: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
